[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = "? face releated algorithm, dataset and paper "
[access "refs/*"]
	owner = group user/mmcgg
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/mmcgg
	label-Verified = -1..+1 group user/mmcgg
	push = group user/mmcgg
	read = group user/mmcgg
	rebase = group user/mmcgg
	removeReviewer = group user/mmcgg
	submit = group user/mmcgg
[access "refs/heads/*"]
	create = group user/mmcgg
	push = +force group user/mmcgg
	pushMerge = group user/mmcgg
	read = group user/mmcgg
[access "refs/tags/*"]
	push = group user/mmcgg
	push = +force group user/mmcgg
